<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235599112565-tfcfk4c12ap8ad2h2ocdqgrh9euda1a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235599112565-tfcfk4c12ap8ad2h2ocdqgrh9euda1a5</string>
	<key>API_KEY</key>
	<string>AIzaSyADdn616Wk7BvHAFcBFjFDlj_Xcg87hWYk</string>
	<key>GCM_SENDER_ID</key>
	<string>235599112565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saadsherif.Instgraam</string>
	<key>PROJECT_ID</key>
	<string>instgraam-647aa</string>
	<key>STORAGE_BUCKET</key>
	<string>instgraam-647aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235599112565:ios:dc77fc6ccacd734fde0b3c</string>
	<key>DATABASE_URL</key>
	<string>https://instgraam-647aa.firebaseio.com</string>
</dict>
</plist>